.hero-text{

animation:
fadeUp 1s ease;

}


.avatar{

animation:
float 5s infinite ease-in-out;

}



@keyframes fadeUp{

from{

opacity:0;

transform:
translateY(40px);

}


to{

opacity:1;

transform:
translateY(0);

}

}




@keyframes float{

50%{

transform:
translateY(-20px);

}

}
.reveal{

opacity:0;

transform:
translateY(50px);

transition:
all .8s ease;

}



.reveal.show{

opacity:1;

transform:
translateY(0);

}
.reveal{

opacity:0;

transform:
translateY(60px);

transition:
1s ease;

}


.reveal.show{

opacity:1;

transform:
translateY(0);

}